:root {
  --main-color: hotpink;
  font-size: 100%;
  box-sizing: border-box;
}
.circulo {
  width: 35vmin;
  height: 35vmin;
  border-radius: 50%;
  margin: 15px;
  transition: 0.3s ease;
  background: linear-gradient(324.93deg, #d61b1b 0.74%, #f2183f 100%);
}
.tituloslider {
  color: white;
  font-weight: 600;
  padding: 1rem;
}
body .master {
  font-family: 'Poppins', sans-serif;
}
h3 {
  font-family: lato;
  font-weight: 600;
  margin: 2rem auto 1rem auto;
  color: white;
}
p {
  text-align: center;
  color: white;
}
.preco {
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.partialone {
  background-color: #d61b1b;
  width: 100%;
  text-align: center;
  color: white;
}
.partialtwo {
  width: 100%;
  text-align: center;
}
.pequeno {
  font-size: small;
}
.cta-assine {
  font-size: 3vmin;
  border-radius: 2rem;
  background-color: #950606;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  width: 50vw;
  height: 10vw;
  max-width: 350px;
  max-height: 60px;
}
.ben-itens {
  text-align: left;
}
.titulo2 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}
ul .vip-item {
  list-style: none;
  font-size: 1.3rem;
}
.red {
  color: #db0909;
}
.master {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pd {
  padding: 0.5rem;
  margin: 0.1rem;
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides img {
  max-width: 25rem;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 1025px) and (max-width: 5000px) {
  .master {
    flex-direction: line !important;
  }
  .partialone{
    height: 100vh;
  }
  .fundoslide{
margin-top: 10vh;
  }
  .nodesk {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  .cta-assine {
    font-size: 2.8vmax;
  }
  .master {
    flex-direction: column;
  }
}
@media screen and (max-width: 412px) {
  .cta-assine {
    font-size: 2.4vmax;
  }
  .master {
    flex-direction: column;
  }
}

@media screen and (max-width: 350px) {
  .cta-assine {
    font-size: 2vh;
  }
  .master {
    flex-direction: column;
  }
}
